@import "bourbon";
@import "vars.scss";
@media only screen and (max-width : 1230px){
  .in-preview{
    margin: 0;
    float: none;
    max-width: 321px;
    display: inline-block;
    img{
      width: 100%;
    }
    &:nth-child(2){
      margin: 0 10px !important;
    }
  }

  .photo-preview{
    text-align: center;

  }

}
@media only screen and (max-width : 1228px){
	.phones{
		margin-left: -50px;
	}

}
@media only screen and (max-width : 1229px){
	.specialists{
		ul{
			text-align: center;
		}
		li{
			max-width: 381px;
			text-align: left;
			display: inline-block;
			float: none;
			min-height: 359px;
			margin: 30px 40px;
			vertical-align: top;
			margin-bottom: 80px;
			&:first-child:after{
				position: absolute;
				right: -50px;
				top: 189px;
				content: '';
				background-image: url("../img/arrow-l.png");
				background-repeat: no-repeat;
				background-position: center;
				width: 15px;
				height: 26px;
			}
			&:nth-child(2):after{
				display: none;
			}
			&:nth-child(3):after{
				right: -50px;
				background-image: url("../img/arrow-2.png");
			}
		}
	}
}
@media only screen and (max-width : 1200px){
  .left-info__text{
    max-width: 377px;
    margin-left: 95px;
    min-height: 574px;
    h2{
      font-size:2.8vw;
    }
  }
  .right__forma{
    max-width: 377px;
    min-height: 574px;
    h2{
      font-size:2.8vw;
    }
    br{
      display: block;
    }
  }
  .upload{
    vertical-align: top;
    a{
      padding: 5px 48px;
      line-height: 25px;
    }
  }
  .right__forma form .buttons{
    margin-top: 23px;
    margin-left: 0px;
    a{
      padding: 14px 23px;
    }
  }
  .right__forma form tt{
    padding-right: 15px;
  }
}
@media only screen and (max-width : 1194px){
	.inputs-change{
		display: none;
	}
	.inputs-change__mobile{
		display: block;
		margin-top: 30px;
		ul{
			text-align: center;
		}
		li{
			float: none;
			display: inline-block;

		}
	}
	.change-blocks{
		margin-top: 0;
		margin-left: 20px;
	}
}
@media only screen and (max-width : 1192px){
	.forms{
		form{
			padding-left: 0;
			text-align: center;
			input{
				margin-bottom: 25px;
				margin-right: 15px;
				margin-left: 15px;
			}
		}
	}
}
@media only screen and (max-width : 1193px) {
	.phones-number{
		padding-left: 10px;
	}
}


@media only screen and (max-width : 1179px) {
	.phones-text{
		padding-left: 0;
	}
	.phones-number{
		padding-left: 5px;
	}
}
@media only screen and (max-width : 1172px){
	.experts-side{
		padding-left: 70px;
	}
	.last-side{
		padding-left: 100px;
	}
}
@media only screen and (max-width : 1158px){
	.practice_theory{
		text-align: center;
	}
	.practice_theory ul{
		margin-left: 0;
		display: inline-block;
	}
}
@media only screen and (max-width : 1153px) {
	.phones_buttons{
		margin-left: 30px;
	}
}
@media only screen and (max-width : 1147px){
  .all-items{
    text-align: center;
  }
  .date-item{
    float: none;
    display: inline-block;
    margin: 0 15px;
    text-align: left;
  }
}
@media only screen and (max-width : 1136px){
	.experts-side{
		padding-left: 70px;
		padding-top: 30px;
	}
	.last-side{
		padding-left: 95px;
	}
}

@media only screen and (max-width : 1131px){

	.last-side{
		padding-left: 92px;
	}
}
@media only screen and (max-width : 1128px) {
	.phones{
		margin-left: -70px;
	}
	.phones_buttons{
		margin-left: 15px;
	}
	.last-side{
		padding-left: 90px;
	}
	.experts-side p{
		font-size:1.4vw;
	}
}
@media only screen and (max-width : 1097px) {
	.phones_buttons{
		margin-left: 10px;
	}
}
@media only screen and (max-width : 1088px) {
	.phones_buttons{
		margin-left: 5px;
	}
}
@media only screen and (max-width : 1078px) {
	.phones_buttons{
		margin-left: 20px;
	}
	.menu a{
		margin-right: 10px;
	}
}
@media only screen and (max-width : 1048px){
	.phones{
		margin-left: -90px;
	}
}
@media only screen and (max-width : 1024px) {
	.phones{
		margin-left: -100px;
	}
	.logo{
		padding-left: 0px;
	}
	.phones-number{
		padding-left: 21px;
	}
	.menu{
		display: none;
	}
	.toggle_mnu{
		display: block !important;
		float: left;
	}
	.button-search{
		margin-top: 10px;
		margin-right: 0;
		a{
			background-color: transparent;
			background-image: url("../img/search-pl.png");
		}
	}
	.banner_blue h1{
		font-size:3.4vw;
		padding: 10px;
	}
	.banner h2{
		margin-left: 15px;
		font-size:3vw;

	}
	.full-banner{
		background-position: 355% 120px;
	}
  .all-items{
    text-align: center;
  }
  .date-item{
    float: none;
    display: inline-block;
    margin: 0 10px;
    text-align: left;
  }
	.number-course{
		margin-left: 30px;
	}
	.listener__white{
		text-align: left;
	}
	.security-info{
		span{
			font-family:RobotoBold;
		}
	}
	.experts{
		text-align: center;
	}
	.experts-side{
		float: none;
		display: inline-block;
		text-align: left;
		padding: 0;
		margin: 40px 40px;
		width: 100%;
		max-width: 400px;
		vertical-align: top;
		p{
			font-size:1.6vw;
		}
		br{
			display: none;
		}
	}
  .webinar .lSAction{
    display: none !important;
  }
  .webinar li{
    margin-right: -4px !important;
  }
  .left-section_webinar {
    h2{
      padding-left: 5px;
    }
    p{
      padding-left: 5px;
    }
  }
  .comment-slider{
    max-width: 750px;
    margin: 0 auto;
  }
  .left-section__comment{
    padding-left: 31px;
  }
  .right-section__comment{
    padding-left: 40px;
  }
  .all-footer__menu{
    padding-left: 95px;
  }
  .second-foot__menu{
    padding-left: 30px;
  }
  .third-foot__menu{
    padding-left: 30px;
  }
  .las-foor__menu{
    padding-left: 0px;
  }
  .foot-nav{
    text-align: center;
  }
  .footer-logo{
    float: left;
    margin-left: 0;
  }
  .vox{
    display: inline-block;
    margin-top: 15px;
  }
  .scroll-up a{
    margin-top: 17px;
    display: inline-block;
  }
}
@media only screen and (max-width : 1021px){
  .in-preview{
    margin: -5px;
  }
}
@media only screen and (max-width : 1006px){
  .phones{
    margin-left: -130px;
  }
  .phones_buttons{
    margin-left: 0;
  }
}
@media only screen and (max-width : 1001px){
  .in-preview{
    margin: -10px;
  }
}
@media only screen and (max-width : 991px){
  header{
    height: auto;
    text-align: center;
  }
  .logo{
    display: inline-block;
    margin: 50px auto;
  }
  .phones{
    margin-left: 0px;
    text-align: left;
  }
  .buttons{
    border-radius: 7px;
  }
  .phones_buttons{
    float: right;
    margin-bottom: 20px;
  }
  .full-banner{
    background-position: 800% 120px;
  }
  .banner_blue {
    h1{
      font-size:4.4vw;
    }
    h2{
      font-size:3.9vw;
    }
  }
  .all-items{
    text-align: center;
  }
  .date-item{
    float: none;
    display: inline-block;
    margin: 0 5px;
    text-align: left;
  }
  .left-section_webinar{
    padding-left: 20px;
    h2{
      padding-left: 22px;
    }
    p{
      padding-left: 22px;
    }
  }
  .webinar li{
    margin-left: 2px !important;
  }
  .experts-side{
    margin: 40px 25px;
  }
  .in-preview{
    max-width: 250px;
    margin: 0 6px;
  }
  .all-footer__menu{
    padding-left: 30px;
  }
}
@media only screen and (max-width : 979px){
  .full-banner{
    background-position: 400px 130px;
  }
}
@media only screen and (max-width : 974px){
  .date-item{
    max-width: 379px;
    vertical-align: top;
    margin: 25px 20px;
  }
  .free-space{
    margin-right: 0;
    margin-left: 0;
  }
  .in-item{
    padding-left: 75px;
    span{
      font-size:2.6vw;
    }
  }
  .right-space{
    margin-top: 49px;
  }
}
@media only screen and (max-width : 872px){
  .date-item{
    margin: 25px 10px;
  }
}
@media only screen and (max-width : 832px){
  .date-item{
    margin: 25px 5px;
  }
}
@media only screen and (max-width : 812px){
  .date-item{
    margin: 25px 0px;
  }
}
@media only screen and (max-width : 800px){
  .full-banner{
    background-position: 300px 130px;
  }
}
@media only screen and (max-width : 792px){
  .date-item{
    max-width: 700px;
    margin-bottom: 65px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .in-item{
    padding-left: 0;
    text-align: center;
    span{
      font-size:3.6vw;
    }
  }
  .calendar{
    display: inline-block;
    p{
      font-size:3.4vw;
    }
  }
  .time{
    display: block;
    p{
      display: inline-block;
      font-size:3.4vw;
    }
  }
}
@media only screen and (max-width : 767px){
  .logo{
    margin: 25px auto;
  }
  .phones{
      display: inline-block;
  }
  .phones_buttons{
    float: none;
    display: inline-block;
  }
}
@media only screen and (max-width : 650px){
  .full-banner{
    background-position: 240px 130px;
  }
}
@media only screen and (max-width : 650px){
  .full-banner{
    h2{
      line-height: 35px;
      font-size:3.7vw;
    }
  }
}
@media only screen and (max-width : 560px){
  .full-banner{
    background-position: 150px 130px;
  }
}
