@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here
.date{
    padding-top: 60px;
    text-align: center;
}
.date .buttons{
    margin-top: 103px;
    margin-bottom: 71px;
    font-family:RobotoBold;
    font-size:22.92px;
    a{
        padding: 12px 36px;
        display: block;
    }
}
.all-title{
    text-align: center;
    font-family:RobotoLight;
    h2{
        font-size:41.67px;
        color: #626262;
        letter-spacing: 0.7px;
        line-height: 57px;
        padding-top: 5px;
        text-transform: uppercase;
    }
    p{
        font-size:20.83px;
        line-height: 25px;
        padding-top: 16px;
        letter-spacing: 0.4px;

    }
    span{
        color: #333333;
    }
}
.gray-line{
    display: inline-block;
    height: 2px;
    max-width: 214px;
    width: 100%;
    background-color: #c7c7c7;
}
.all-items{
    margin-top: 73px;
    text-align: left;
}
.date-item{
    float: left;
    max-width: 460px;
    min-height: 568px;
    width: 100%;
    background-color: #f1f4f9;
    border: 1px solid #d9d7d7;
    border-radius: 18px;
    position: relative;
    margin: 0 9px 0 90px;
    padding: 20px 19px;
}
.circle{
    position: absolute;
    left: 50%;
    top: -54px;
    width: 120px;
    height: 121px;
    margin-left: -59px;
    background-color: #f1f4f9;
    border-radius: 120px;
    border: 1px solid #dbd9d9;
    background-repeat: no-repeat;
    background-position: center;
}
.in-item{
    border-radius: 18px;
    background-color: #fff;
    font-size:16.67px;
    color: #757575;
    padding-left: 104px;
    padding-top: 73px;
    p{
        letter-spacing: -0.1px;
        position: relative;
    }
    b{
        font-size:20.83px;
        letter-spacing: 0.9px;
    }
    span{
        font-size:29.17px;
        color: #333333;
        letter-spacing: 0.9px;
    }
}
.calendar{
    margin-bottom: 34px;
    line-height: 22.9px;
    p{
        &:after{
            position: absolute;
            left: -56px;
            top: 0;
            content: '';
            width: 32px;
            height: 32px;
            background-image: url("../img/calendar.png");
            background-repeat: no-repeat;
        }
    }
}
body .time{
    p{
        line-height: 27px;
        letter-spacing: 0.2px;
        &:after{
            position: absolute;
            left: -57px;
            top: 5px;
            content: '';
            width: 32px;
            height: 32px;
            background-image: url("../img/time.png");
            background-repeat: no-repeat;
        }
    }
}
.free-space{
    width: 179px;
    height: 184px;
    margin: 56px 18px 0 18px;
    margin-bottom: 50px;
    background-image: url("../img/space.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 48px;
    display:inline-table;
    b{
        color: #f26c4f;
        font-size:16.67px;
        letter-spacing: 0;
        line-height: 24px;
        display: block;
    }
    span{
        font-size:50px;
        color: #f26c4f !important;
        line-height: 39px;
    }
}
.right-space{
    margin-top: 25px;
}
.prise{
    position: absolute;
    left: 50%;
    bottom: -24px;
    margin-left: -107px;
    border: 3px solid #f26c4f;
    background-color: #fff;
    h3{
        color: #333333;
        font-size:31.25px;
        font-family:RobotoBold;
        padding: 5px 22px;
    }
}

.practice{
    background-image: url("../img/bg-teory.jpg");
    background-position: center;
    background-size: cover;
    min-height: 406px;
}
.practice_theory{
    ul{
        margin: 71px 0 0 163px;
    }
    li{
        float: left;
        position: relative;
        text-align: center;
        margin-right: 191px;
        &:after{
            position: absolute;
            right: -130px;
            top: 73px;
            content: '';
            background-image: url("../img/arrow.png");
            width: 73px;
            height: 15px;
        }
        &:nth-child(2){
            margin-right: 177px;
        }
        &:last-child{
            margin-right: 0;
            &:after{
                display: none;
            }
            p{
                margin-left: -5px;
            }
        }
    }
    p{
        text-transform: uppercase;
        font-size:18.75px;
        font-family:RobotoLight;
        line-height: 23px;
        padding-top: 35px;
        margin-left: -19px;
        color: #fff;
    }
}
.circle-theory{
    width: 161px;
    height: 164px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    h2{
        color: #0b98cd;
        font-size:50px;
        font-family:RobotoBold;
        padding-top: 45px;
    }
}
.usefully{
    padding-top: 54px;
    background-color: #f1f4f9;
}
.specialists{
    padding-top: 70px;
    li{
        border: 1px solid #c7c7c7;
        border-radius: 7px;
        float: left;
        position: relative;
        background-color: #fff;
        max-width: 262px;
        padding-left: 20px;
        padding-top: 93px;
        margin: 0 20px 70px 18px;
        min-height: 461px;
        max-height: 461px;
        &:after{
            position: absolute;
            right: -28px;
            top: 189px;
            content: '';
            background-image: url("../img/arrow-l.png");
            background-repeat: no-repeat;
            background-position: center;
            width: 15px;
            height: 26px;
        }
        &:last-child{
            &:after{
                display: none;
            }
            p{
                line-height: 18px;
            }
        }
        h2{
            font-size:20.83px;
            color: #656565;
            font-family:RobotoBold;
            line-height: 25px;
            text-transform: uppercase;
            min-height: 50px;
        }
        p{
            font-size: 14.58px;
            color: #757575;
            padding-top: 14px;
            line-height: 19px;
            padding-right: 21px;

        }
    }
}
.circle__img{
    width: 116px;
    height: 116px;
    position: absolute;
    left: 50%;
    top: -58px;
    margin-left: -58px;
    border-radius: 150px;
    border: 2px solid #b3c4ca;
    background-color: #0b97cc;
    background-repeat: no-repeat;
    background-position: center;
}
.forms{
    background-image: url("../img/bg-forma.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 375px;
    form{
        padding-left: 36px;
        padding-top: 27px;
        text-align: center;
        input{
            padding: 16px 35px 16px 45px;
            border-radius: 8px;
            margin-right: 26px;
            font-size:16.67px;
            color: #757575;
            position: relative;
            background-repeat: no-repeat;
            background-position: 17px 21px;

            @include placeholder{
                font-size:16.67px;
                color: #757575;
                border-left: 1px solid #e0e0e5;
                padding-left: 15px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        button{
            padding: 17px 77px;
            color: #fff;
            text-transform: uppercase;
            &:hover{
                background-color: #0b98cd;
            }
        }
    }
}
.title-form{
    text-align: center;
    padding-top: 60px;
    color: #fff;
    h2{
        font-size:50px;
        line-height: 73.6px;
    }
    p{
        font-size:20.83px;
    }
}
.course{
    padding-top: 50px;
    text-align: center;
}
.number-course{
    padding: 15px 63px;
    position: relative;
}
.indent{
    padding-top: 47px;
    text-align: left;
}
.count{
    position: absolute;
    left: 10px;
    top: 12px;
    width: 64px;
    background-color: #fff;
    height: 64px;
    border-radius: 150px;
    border: 1px solid #0b98cd;
    font-size:29.17px;
    text-align: center;
    padding: 8px 10px;
}
.course-describe{
    padding-left: 5px;
    h2{
        font-size:29.17px;
        padding-top: 5px;
        letter-spacing: -0.1px;
    }
    p{
        padding-top: 4px;
        line-height: 20px;
        padding-bottom: 15px;
        letter-spacing: -0.1px;
    }
    span{
        font-family:RobotoBold;
    }
}
.item-course__indent{
    padding-bottom: 35px;
}
.item-course__indent2{
    padding-bottom: 29px;
    .number-course{
            padding-left: 48px;

    }
}
.item-course__indent3{
    .number-course{
        padding-left: 12px;
    }
}
.item-course__indent4{
    padding-bottom: 31px;
    .number-course{
        padding-left: 99px;
    }
}
.item-course__indent5{
    .number-course{
        padding-left: 58px;
        padding-top: 13px;
    }
}
.course .buttons{
    margin-top: 37px;
    margin-bottom: 71px;
    a{
        padding: 12px 35px;
        font-family:RobotoBold;
        font-size:22.92px;
    }
}
.listener{
    background-color: #f1f4f9;
    padding-top: 70px;
    padding-bottom: 85px;
}
.listener__white{
    background-color: #fff;
    padding-top: 59px;
    text-align: center;
}
.listener-item{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 220px;
    width: 100%;
    margin: 39px 8px 21px 8px;
    p{
        line-height: 21px;
    }
}
.listener__img{
    height: 106px;
}
.safeguard{
    background-image: url("../img/garant-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 581px;
    padding-top: 83px;
    text-align: center;
}
.security-info{
    padding-top: 27px;
    h2{
        font-size:33.33px;
        color: #0b98cd;
        font-family:RobotoBold;
    }
    p{
        font-size: 20.83px;
        padding-top: 26px;
        line-height: 26px;
        letter-spacing: 0.2px;
    }
    span{
        color: #333333;
    }
    .buttons{
        margin-top: 63px;
        a{
            font-family:RobotoBold;
            font-size:22.92px;
            padding: 13px 35px;
        }
    }
}
.trainer{
    padding-top: 54px;
    min-height: 784px;
    background-color: #f1f4f9;
}
.foto-trainer{
    text-align: right;
    padding-top: 83px;
    img{
        margin-right: -49px;
    }
}
.trainer-information{
    text-align: right;
    position: absolute;
    bottom: 31px;
    left: 24px;
    background-color: #0b98cd;
    color: #fff;
    width: 220px;
    height: 72px;
    padding: 0 35px 0 0;
    h2{
        font-size:20.83px;
        font-family:RobotoBold;
        text-transform: uppercase;
        padding-top: 7px;
        line-height: 20px;
    }
    p{
        line-height: 20px;
    }
}
.info-block{
    padding-top: 85px;
    padding-left: 58px;
}
.inputs-change{
    li{
        float: left;
    }
    a{
        display: block;
        padding: 7px 18px;
        border-radius: 20px;
        border: 2px solid #adc0c6;
        font-size: 14.58px;
        margin-right: 8px;
        transition: .5s all;
        &:hover{
            background-color: #0b98cd;
            font-family:RobotoRegular;
            color: #fff;
            border: none;
            text-decoration: none;
            transition: .5s all;
            padding: 7px 20px;
            margin-right: 7px;
        }
    }
}
.inputs-change__mobile{
    display: none;
}
.change-blocks{
    margin-top: 99px;
    li{
        float: left;
    }
    a{
        display: block;
        background-color: #fff;
        width: 185px;
        height: 180px;
        margin-right: 5px;
        margin-bottom: 4px;
        padding: 28px 0 0 13px;
        &:hover{
            background-color: #0b98cd;
            color: #fff;
            text-decoration: none;
            h3{
                color: #fff;
            }

        }
    }
    .icon-block{
        height: 56px;
        background-repeat: no-repeat;
    }
    h3{
        font-family:RobotoBold;
        color: #333333;
        line-height: 20px;
    }
    p{
        font-size:20.83px;
        line-height: 25px;
    }
    span{
        display: block;
    }
}
.tab{
    display: none;
}
.active-trainer{
    background-color: #0b98cd;
    font-family:RobotoRegular;
    color: #fff;
    border: none !important;
    text-decoration: none;
    transition: .5s all;
    padding: 9px 20px;
    margin-right: 7px;
}
.change-blocks__prof{
    a{
        text-align: center;
        padding-left: 0;
    }
    .icon-block{
        background-position: center top;
        height: 70px;
    }
}
.change-blocks a:hover .icon-hover1{background-image: url("../img/icon-man_h.png") !important;}
.change-blocks a:hover .icon-hover2{background-image: url("../img/icon-sert_h.png") !important;}
.change-blocks a:hover .icon-hover3{background-image: url("../img/icon-star_h.png") !important;}
.change-blocks a:hover .icon-hover4{background-image: url("../img/icon-bag_h.png") !important;}
.change-blocks a:hover .icon-hover5{background-image: url("../img/icon-pipl_h.png") !important;}
.change-blocks a:hover .icon-hover6{background-image: url("../img/icon-router_h.png") !important;}
.change-blocks a:hover .icon-hover7{background-image: url("../img/icon-pc_h.png") !important;}
.change-blocks a:hover .icon-hover8{background-image: url("../img/icon-wifi_h.png") !important;}
.change-blocks a:hover .icon-hover9{background-image: url("../img/icon-linux_h.png") !important;}
.change-blocks a:hover .icon-hover10{background-image: url("../img/icon-vmware_h.png") !important;}
.change-blocks a:hover .icon-hover11{background-image: url("../img/icon-windows_h.png") !important;}
.change-blocks a:hover .icon-hover12{background-image: url("../img/icon-zabbix_h.png") !important;}
.change-blocks a:hover .icon-hover13{background-image: url("../img/icon-zimbra_h.png") !important;}


.performance{
    border-top:1px solid #c7c7c7 ;
    padding: 10px 10px;
    span{
        float: left;
        font-size:16.67px;
        color: #626262;
        font-family:RobotoBold;
        max-width: 221px;
        width: 100%;
    }
}

.forms-second{
    form{
        input{
            padding: 16px 80px 16px 45px;
            max-width: 550px;
            width: 100%;
            margin-left: 146px;
        }
        button{
            padding: 17px 33px;
        }
    }
}
.webinar{
    background-color: #f1f4f9;
    padding-top: 38px;
    padding-bottom: 30px;
}
.webinar-slider{
    margin-top: 52px;
}
.webinar-slider .lSSlideOuter .lSPager.lSpg>li a{
    width: 13px;
    height: 13px;
    background-color: #b5c6cc;
}
.webinar-slider .lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a{
    background-color: #33ccff;
}
.webinar-slider .lSAction> a {
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 30px;
    top: 43%;
}
.webinar-slider .lSAction>.lSPrev{
    background-image: url("../img/arrow-slider1.png");
}
.webinar-slider .lSAction>.lSNext{
    background-image: url("../img/arrow-slider2.png");
}
.webinar-slider .lSSlideOuter .lSPager.lSpg>li{
    padding: 0 9px;
}
.left-section_webinar{
    padding: 0 0 0 61px;
    text-align: center;
    h3{
        background-color: #0b98cd;
        display:inline-block;
        font-size:12.5px;
        color: #fff;
        text-transform: uppercase;
        padding: 3px 55px;
        margin-top: 4px;
    }
    h2{
        text-align: left;
        font-size:16.67px;
        font-family:RobotoBold;
        text-transform: uppercase;
        padding: 5px 0 0 28px;
    }
    p{
        font-size: 14.58px;
        text-align: left;
        padding: 0px 0 0 28px;
    }
}
.right-section_webinar{
    border: 1px solid #cccccc;
    background-color: #fff;
    border-radius: 0px 9px 9px ;
    max-width: 782px;
    width: 100%;
    margin-left: 22px;
    padding-left: 61px;
    padding-top: 23px;
    position: relative;
    &:after{
        position: absolute;
        top: -1px;
        left: -80px;
        content: '';
        background-image: url("../img/slider-block.png");
        z-index: 69;
        width: 80px;
        height: 47px;
        background-repeat: no-repeat;
    }
}
.text-webinar{
    h2{
        color: #0b98cd;
        font-size:20.83px;
        font-family:RobotoBold;
        line-height: 25px;
    }
    p{
        font-size:14.58px;
        line-height: 18px;
        padding-top: 5px;
    }
    a{
        color: #4984ae;
        font-size:14.58px;
        border-bottom: 1px dotted #4984ae;
        line-height: 20px;
        margin-bottom: 20px;
        display: inline-block;
        &:hover{
            text-decoration: none;
            border-bottom: none;
        }
    }
}

.bottom-data{
    border-top: 1px solid #c7c7c7;
    margin-right: 56px;
    p{
        display: inline-block;
        position: relative;
        font-size:12.5px;
        margin-top: 20px;
        padding: 0 25px 25px 22px;
        &:after{
            position: absolute;
            left: -1px;
            top: 5px;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
            width: 12px;
            height: 12px;
        }

    }
    span{
        font-family:RobotoBold;
    }
}
.data-b:after{background-image: url("../img/icon-calendar.png");  }
.time-b:after{background-image: url("../img/icon-time.png");  }

.bottom-data .buttons{
    margin-top: 10px;
    a{
        padding: 10px 53px;
        text-transform: uppercase;
        font-size:14.58px;
    }
}

.experts{
    padding-top: 72px;
    padding-bottom: 15px;
}

.experts-side{
    padding-left: 91px;
    padding-top: 6px;
    padding-right: 23px;
    margin-bottom: 43px;
    float: left;
    h2{
        font-size:20.83px;
        font-family:RobotoBold;
    }
    p{
        font-size:16.67px;
        line-height: 20px;
        padding-top: 13px;
    }
}
.last-side{
    padding-left: 115px;
}
.side_icon{
    height: 80px;
}

.photogallery{
    background-color: #f1f4f9;
    padding-top: 36px;
    text-align: center;
}
.photo-preview{
    margin-top: 59px;
}
.in-preview{
    float: left;
    margin: 0 10px;
}
.photogallery .buttons{
    margin-top: 48px;
    margin-bottom: 50px;
    a{
        padding: 12px 47px;
        text-transform: uppercase;
        font-size:14.58px;
    }
}
.comment{
    background-color: #f1f4f9;
    padding-top: 70px;
    padding-bottom: 50px;
}

.title-coment{
    font-size:41.67px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}




#comment{
        height: 401px !important;
    li{
        background-color: #fff;
        margin: 25px auto;
        position: relative;
        &:after{
            position: absolute;
            left: 9.4%;
            top: -20px;
            content: '';
            background-image: url("../img/quotes1.png");
            background-repeat: no-repeat;
            width: 65px;
            height: 41px;
            z-index: 69;
        }
        &:before{
            position: absolute;
            right: 9.4%;
            bottom: -15px;
            content: '';
            background-image: url("../img/quotes2.png");
            background-repeat: no-repeat;
            width: 65px;
            height: 41px;
            z-index: 69;
        }
    }
}
.comment-slider{
    margin-top: 28px;
}
.comment-slider .lSAction>.lSPrev{
    background-image: url("../img/arrow-slider1.png");
}
.comment-slider .lSAction>.lSNext{
    background-image: url("../img/arrow-slider2.png");
}
.comment-slider .lSAction> a {
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 30px;
    top: 43%;
}
.comment-slider .lSSlideOuter .lSPager.lSpg>li{
    padding: 0 8px;
}
.comment-slider .lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a{
    background-color: #33ccff;
}
.comment-slider .lSSlideOuter .lSPager.lSpg>li a{
    background-color: #b5c6cc;
    width: 13px;
    height: 13px;
}
.left-section__comment{
    padding-top: 58px;
    padding-left: 180px;
    padding-bottom: 58px;
}
.right-section__comment{
    padding-top: 54px;
    padding-left: 110px;
    h2{
        color: #ea5517;
        font-size:20.83px;
        letter-spacing: 0.2px;
        line-height: 25px;
    }
    span{
        font-size:16.67px;
        color: #333333;
    }
    p{
        padding-top: 13px;
        font-size: 16.67px;
        color: #818181;
        line-height: 21px;
    }
    .comment__line{
        width: 110px;
        height: 1px;
        background-color: #999999;
        margin-top: 12px;
    }
}



.partners{
    padding-top: 52px;
    height: 580px;
}
.partners-slider{
  max-width: 1060px;
  margin: 40px auto;
}
.partners-slider .lSAction>a{
  width: 18px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 69;
}
.partners-slider .lSAction>.lSPrev{
  left: 0;
  background-image: url("../img/arrow-slider1.png");
}
.partners-slider .lSAction>.lSNext{
  right: 0;
  background-image: url("../img/arrow-slider2.png");
}
#partners{
  height: 315px !important;
  li{
    text-align: center;
    border-right: 1px solid #cccccc;
    width: 215px;
    height: 314px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0 !important;
    &:last-child{
      border-right: none;
    }
  }
}
.in-part{
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.in-second-part{
  padding-top: 20px;
}



.bottom-forma{
    background-color: #f1f4f9;
    padding-top: 99px;
    padding-bottom: 115px;
}

.left-info__text{
    max-width: 560px;
    background-color: #fff;
    text-align: center;
    margin-left: 10px;
    padding-top: 55px;
    padding-bottom: 19px;
    h2{
        font-size:37.5px;
        color: #626262;
        text-transform: uppercase;
        line-height: 25px;
    }
    .line-info__text{
        max-width: 214px;
        width: 100%;
        display: inline-block;
        height: 1px;
        background-color: #c7c7c7;
    }
    span{
        font-size:25px;
        font-family:RobotoBold;
        color: #626262;
        display: block;
        text-transform: uppercase;
        padding: 4px 0 0 0;
    }
    p{
        padding: 17px 0 0 0;
        line-height: 22px;
    }
    b{
        display: block;
        color: #0b98cd;
        font-size:37.5px;
        padding-bottom: 9px;
    }
    tt{
        font-family:RobotoLight;
        padding-top: 17px;
        display: inline-block;
    }

}
.right__forma{
    max-width: 560px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding-top: 47px;
    display: inline-block;
    padding-bottom: 65px;
    margin-left: 16px;
    h2{
        font-size:37.5px;
        line-height: 43px;
        text-transform: uppercase;
        color: #626262;
    }
    br{
        display: none;
    }
    p{
        font-size:20.83px;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    form{
        input{
            display: inline-block;
            width: 92%;
            background-color: #f5f6f7;
            border: 1px solid #d9d7d7;
            border-radius: 8px;
            font-size:14.58px;
            margin-top: 18px;
            padding: 13px 30px;
            @include placeholder{
                font-size:14.58px;
            }
        }
        textarea{
            display: inline-block;
            width: 92%;
            background-color: #f5f6f7;
            border: 1px solid #d9d7d7;
            border-radius: 8px;
            font-size:14.58px;
            margin-top: 18px;
            padding: 13px 30px;
            min-height: 202px;
            @include placeholder{
                font-size:14.58px;
            }
        }
        .buttons{
            margin-left: 25px;
            a{
                font-size:18.75px;
                font-family:RobotoBold;
                padding: 14px 53px;
            }
        }
        tt{
            text-decoration: underline;
            padding: 15px 30px 0 0;
        }
    }
}
.upload{
    display: inline-block;
    a{
        margin-top: 23px;
        color: #fff;
        display: inline-block;
        font-size: 18.75px;
        font-family:RobotoBold;
        background-color: #46c084;
        border-radius: 5px;
        padding: 14px 30px;
        &:hover{
            color: #fff;
            background-color: #0b98cd;
            text-decoration: none;
        }
    }
    input[type= file]{
        display: none;
    }
}

.video-fon{
    background-image: url("../img/bg-videofon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 520px;
    text-align: center;
    padding-top: 163px;
    h2{
        font-size:50px;
        color: #fff;
        text-transform: uppercase;
        line-height: 63px;
        letter-spacing: 0.3px;
    }
    span{
        font-family:RobotoBold;
    }
    h3{
        background-color: #0b98cd;
        display: inline-block;
        font-size: 37.5px;
        text-transform: uppercase;
        color: #fff;
        padding: 0 13px;

    }
}
.blue-line{
    max-width: 216px;
    width: 100%;
    height: 1px;
    background-color: #0c98cd;
    display: inline-block;
}


footer{
    background-color: #2e2e2e;
    padding-top: 40px;
    padding-bottom: 48px;
}
.all-footer__menu{
    color: #a2a2a2;
    padding-left: 79px;
    h3{
        color: #fff;
        font-size:20.83px;
        text-transform: uppercase;
        font-family:RobotoBold;
    }
    ul{
        margin-top: 7px;
    }
    li{
        padding-left: 12px;
    }
    a{
        color: #a2a2a2;
        font-size:14.58px;
        padding-top: 4px;
        padding-bottom: 1.5px;
        display: block;
        &:hover{
            color: #fff;
        }
    }
    tt{
        padding-left: 9px;
        font-size:14.58px;
        margin-top: 10px;
        display: block;
    }
    p{
        padding-left: 9px;
        line-height: 19px;
        letter-spacing: -1px;
        padding-bottom: 10px;
        position: relative;
        &:after{
            position: absolute;
            left: -22px;
            top: 15px;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    b{
        color: #fff;
        font-family:RobotoBold;
    }
    span{
        color: #fff;
        font-size:18.75px;
        letter-spacing: -0.1px;
        display: block;
        padding-top: 3px;
    }
}
.second-foot__menu{
    padding-left: 73px;
}
.third-foot__menu{
    padding-left: 37px;
}
.foot-way{
    padding: 11px 0 0px 0;
    &:after{
        background-image: url("../img/icon-map.png");
        width: 14px;
        height: 20px;

    }
}
.foot-telephone{
    margin-top: 12px;
    margin-bottom: 9px;
    &:after{
        background-image: url("../img/icon-phone.png");
        width: 20px;
        height: 20px;
    }
}
body .foot-email{
    position: relative;
    color: #fff;
    margin-left: 9px;
    font-size: 18.75px;
    &:after{
        position: absolute;
        left: -34px;
        top: 12px;
        content: '';
        background-image: url("../img/icon-mail.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 13px;

    }
}
.foot-nav{
    background-color: #252525;
}
.footer-logo{
    margin: 10px 0 10px 10px;
}

.scroll-up{
    a{
        border:2px solid #666666;
        display: block;
        width: 36px;
        height: 36px;
        margin-top: -49px;
        margin-left: -47px;
        background-image: url("../img/up.png");
        background-repeat: no-repeat;
        background-position: center;
    }
}
.footer-map{
    img{
        width: 100%;
    }
}
.vox{
    display: none;
}





//webinar//
.left-activi__box{
  text-align: center;
}
.title-internal{
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px;
  text-align: left;
  h2{
    font-size:41.67px;
    padding-top: 45px;
    color: #626262;
    padding-bottom: 25px;

  }
}
.activities__items{
  border: 1px solid #dddddd;
  margin-left: 60px;
  padding-top: 31px;
  margin-top: 20px;
  position: relative;
  p{
    font-size: 14.58px;
  }
}
.left-activities{
  text-align: center;
  h3{
    font-size:18.75px;
    font-family:RobotoBold;
    line-height: 25px;
  }
  img{
    margin-bottom: 8px;
  }

}
.right-activities{
  text-align: center;
  h2{
    text-align: left;
    font-size: 25px;
    color: #626262;
    padding-bottom: 25px;
    line-height: 30px;
    padding-right: 15px;
  }
  span{
    text-align: left;
    margin: 10px 0 22px 0;
    display: block;
    font-family:RobotoBold;
    font-size: 16.67px;
  }
  p{
    text-align: left;
  }
  .buttons{
    margin: 20px auto;

    a{
      text-transform: uppercase;
        padding: 9px 55px;
    }
  }
}
.speaker{
  background-color: #0b98cd;
  color: #fff;
  text-transform: uppercase;
  font-size: 12.5px;
  max-width: 77px;
  margin: 12px auto;
}
.gray-activi__text{
  background-color: #f4f4f4;
  padding: 18px 0 21px 9px;
  margin-right: 12px;
  span{
    font-family:RobotoBold;
    color: #333333;
    display: inline-block;
    margin: 0;
  }
}
.data-blue{
  position: absolute;
  left: -60px;
  top: 31px;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 64px;
  background-color: #0b98cd;
  span{
    font-size: 16.67px;
    font-family:RobotoBold;
    line-height: 30px;
  }
  p{
    line-height: 15px;
  }
}
.gray-start{
  position: absolute;
  left: -60px;
  top: 94px;
  text-align: center;
  width: 60px;
  height: 65px;
  background-color: #e9e9e9;
  padding-top: 20px;
  p{
    line-height: 10px;
  }
  span{
    color: #333333;
    font-family:RobotoBold;
    font-size: 16.67px;
  }
}
.black-time{
  position: absolute;
  left: -60px;
  top: 158px;
  text-align: center;
  width: 60px;
  height: 88px;
  background-color: #302e33;
  padding-top: 12px;
  color: #fff;
  p{
    font-size: 10.42px;
    line-height: 12px;
  }
  span{
    font-family:RobotoBold;
    font-size: 16.67px;
  }
}
.blue-buttons{
  display: inline-block;
  margin: 50px auto;
  a{
    background-color: #0b98cd;
    font-size:14.58px;
    padding: 11px 25px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    border-radius: 5px;
    &:hover{
      text-decoration: none;
      background-color: #f26c4f;
    }
  }
}
.right-sidebar{
  background-color: #f8f8f9;
}

.side-bar__info{
  padding-top: 45px;
  li{
      &.active{
          .in-second__bar{
              display: block;
          }
          a{
              background-color: #efeff0;
              color: #333333;
              &:after{
                  top: 20px;
                  width: 13px;
                  height: 7px;
                  background-image: url("../img/shape-bar1.png");
              }
              .in-second__bar{
                  display: block;
              }
          }
      }
  }
  a{
    padding: 10px 10px;
    border-top: 1px solid #bababa;
    display: block;
    font-size: 18.75px;
    margin: 0 10px;
    position: relative;
    &:after{
      position: absolute;
      right: 10px;
      top: 15px;
      content: '';
      background-image: url("../img/shape-bar.png");
      width: 7px;
      height: 13px;
      background-repeat: no-repeat;
    }
  }
}
.in-second__bar{
    display: none;
  font-size: 14.58px;
  h3{
     margin-left: 69px;
    color: #0b98cd;
    text-transform: uppercase;
    font-size:16.67px;
    letter-spacing: -0.1px;
    padding-top: 28px;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      left:-50px;
      top:20px;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
    }
  }
  span{
      margin-left: 69px;
    color: #333333;
    padding-top: 20px;
    display: inline-block;
    border-bottom: 1px solid #333333;
  }
  p{
      padding-left: 69px;
    line-height: 18px;
  }
  a{
    color: #4984ae !important;
      padding: 0;
    border: none;
    margin: 22px 0 0 69px;
    font-size: 14.58px;
    border-bottom: 1px dotted #4984ae;
    line-height: 12px;
    display: inline-block;
    &:hover{
      background-color: transparent;
    }
      &:after{
          display: none;
      }
  }
}
.blue-calendar:after{background-image: url("../img/blue-calendar.png")}
.blue-mark{
  padding-bottom: 20px;
  &:after{
    background-image: url("../img/blue-mark.png")
  }
}
.blue-money{
  padding-bottom: 20px;
  &:after{
    background-image: url("../img/blue-money.png")
  }
}

//records-vebinar//
.records-top{
    font-size:12.5px;
    color: #fff;
    font-family:RobotoBold;
    text-transform: uppercase;
}
.left-top_r{
    float: left;
    width: 17%;
    background-color: #5c6d7d;
    height: 50px;
    padding-top: 13px;
    line-height: 14px;
}
.records-items{
    color: #999999;
    &:hover{
        border-left: 1px solid #0b98cd;
    }
}
.clerfix{
    clear: both;
}
.right-top_r{
    float: left;
    width: 83%;
    background-color: #6f8293;
    height: 50px;
    padding-top: 13px;
}
.left-rec__item{
    width: 17%;
    float: left;
    text-align: center;
}
.sircle-data{
    margin-top: 29px;
    width: 104px;
    height: 104px;
    border: 2px solid #adc0c6;
    border-radius: 120px;
    display: inline-block;
    span{
        display: block;
        padding-top: 15px;
        font-size: 29.17px;
        line-height: 29px;
    }
    p{
        font-size: 16.67px;
        line-height: 24px;
    }
}
.center-rec_item{
    width: 67%;
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-top: 31px;
    h2{
        font-size:20.83px;
        line-height: 25px;
    }
    p{
        padding-bottom: 23px;
        display: inline-block;
    }
}
.tabs-rec_menu{
    li{
        float: left;
        margin: 20px 0 30px 0;
    }
    a{
        display: block;
        font-size: 12.5px;
        border: 1px solid #cccccc;
        padding: 5px 6px;
        margin: 0 0 0 10px;
        &:hover{
            background-color: #6f8293;
            color: #fff;
            border: 1px solid #5c6d7d;
            text-decoration: none;
        }
    }
}
.right-rec_item{
    width: 16%;
    float: left;
    text-align: center;
}
.record-video{
    a{
        width: 102px;
        height: 68px;
        margin-top: 86px;
        display: inline-block;
        border: 1px solid #adc0c6;
        border-radius: 3px;
        padding-top: 40px;
        font-size: 12.5px;
        font-family:RobotoBold;
        text-transform: uppercase;
        color: #adc0c6;
        background-image: url("../img/non-video.png");
        background-repeat: no-repeat;
        background-position: center 8px;
        tt{
            display: none;
            color: #fff;
        }
        &:hover{
            text-decoration: none;
        }
    }
}
.record-video__have{
    a{
        text-decoration: none;
        background-color: #0b98cd;
        background-image: url("../img/play.png");
        background-repeat: no-repeat;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid darken(#0b98cd,10);

        p{
            display: none;
        }
        tt{
            display: block;
        }
    }
}
.records-items__gray{
    background-color: #f4f5f7;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    &:hover{
        .sircle-data{
            border: 2px solid #0b98cd;
        }
    }
}
.add-records-item{
    display: inline-block;
    margin: 50px 0;
    a{
        display: block;
        &:hover{
            text-decoration: none;
        }
    }
    p{
        color: #626262;
        font-size:12.5px;
        padding-top: 10px;
        text-transform: uppercase;
    }
}
.add-sircle{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #55b7dd;
    border-radius: 120px;
    padding: 4px;
    transition: .4s;
    p{
        background-color: #0b98cd;
        border-radius: 120px;
        width: 40px;
        height: 40px;
        padding-top:4px;
        display: block;
        color: #fff;
        font-size: 20.08px;
        text-transform: none;
    }
}
//contact//
.left-contact{
    text-align: left;
    padding-left: 79px;
    h2{
        color: #0b98cd;
        text-transform: uppercase;
        margin-top: 50px;
        position: relative;
        &:after{
            position: absolute;
            left: -63px;
            top: -8px;
            content: '';
            background-repeat: no-repeat;
            width: 44px;
            height: 44px;
        }
    }
    p{
        color: #757575;
    }
    span{
        color: #333333;
        font-size: 20.83px;
    }
}
.cont-mark:after{background-image: url("../img/cont-mark.png") }
.cont-phone:after{background-image: url("../img/cont-phone.png") }
.cont-email:after{background-image: url("../img/cont-mail.png") }
.cont-skype:after{background-image: url("../img/cont-skype.png") }
.contact-box{
    border-bottom: 1px solid #dddddd;
    img{
        margin-top: 90px;
        max-width: 703px;
        width: 100%;
    }
}
.download-scheme{
    display: inline-block;
    max-width: 207px;
    font-family:RobotoRegular;
    margin-top: 35px;
    margin-bottom: 38px;
    a{
        font-size: 14px;
        color: #333333;
        border: 1px solid #73b716;
        display: block;
        padding: 13px 13px 13px 37px;
        text-align: left;
        width: 100%;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            left: 14px;
            top: 19px;
            background-image: url("../img/download.png");
            background-repeat: no-repeat;
            width: 14px;
            height: 14px;
        }
        &:hover{
            text-decoration: none;
        }
    }
    span{
        color: #b2b2b2;
        font-size:12px;
        display: block;
    }
}
.cont-form .right__forma{
    margin-left: 0;
    max-width: 803px;
    .buttons{
        margin: 40px 0;
        a{
            font-family:RobotoLight;
            font-size:18.75px;
            text-transform: uppercase;
            border-bottom: 2px solid darken(#f26c4f,20);
            padding: 5px 47px;
            &:hover{
                border-bottom: 2px solid darken(#0b98cd,20);
            }
        }
    }
}
//course//
.title-course{
    h2{
        border: 1px solid #0b98cd;
        display: inline-block;
        padding: 13px 11px;
        font-size: 16.67px;
    }
}
.all-courses{
    margin-top: 33px;
    margin-bottom: 25px;
}
.rank-course{
    min-height: 180px;
    background-color: #dadde2;
    font-size:16.67px;
    color: #626262;
    padding-top: 72px;
    line-height: 12px;
    text-align: center;
    position: relative;
    &:after{
        position: absolute;
        bottom: -35px;
        content: '';
        left: 50%;
        margin-left: -18px;
        border: 18px solid transparent;
        border-top: 17px solid #d8dbe0;
        display: block;
    }
    b{
        font-size: 25px;

    }
}
.rank-course__color2{
    background-color: #2db9e6;
    color: #fff;
    &:after{
        border-top: 17px solid #2db7e4;
    }
}
.rank-course__color3{
    background-color: #0a91c3;
    color: #fff;
    &:after{
        border-top: 17px solid #0a89b8;
    }
}
.courses-item{
    float: left;
    max-width: 287px;
    width: 100%;
    min-height: 730px;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 1px 1px 2px #dfdfdf;
    }
    ul{
        padding-top: 54px;
        padding-left: 61px;
    }
    li{
        max-width: 153px;
    }

    a{

        display: inline-block;
        font-size:10.42px;
        border: 2px solid #6dc0df;
        color: #fff;
        padding-right: 43px;
        background-color: #0b96cb;
        border-radius: 5px;
        min-height: 50px;
        width: 153px;
        line-height: 10px;
        text-align: center;
        position: relative;
        letter-spacing: -0.2px;
        margin-bottom: 20px;
        &:after{
            position: absolute;
            right: 12px;
            top: 16px;
            content: '';
            background-image: url("../img/strela.png");
            background-repeat: no-repeat;
            width: 17px;
            height: 19px;
        }
        &:before{
            position: absolute;
            left: -27px;
            top: -56px;
            content: '';
            background-image: url("../img/line-course.png");
            background-repeat: no-repeat;
            width: 25px;
            height: 84px;
        }
        &:hover{
            text-decoration: none;
        }


    }
    p{
        font-size: 14.58px;
        text-align: left;
        line-height: 20px;
        b{
            font-size: 14.58px;
        }
    }
    span{
        color: #0b98cd;
    }
    b{
        font-size:20.83px;
        line-height: 25px;
    }
}

//trainer///
.in-trainer .foto-trainer{
    min-height: 495px;
    position: relative;
    img{
        bottom:0;
        left: 0;
        margin-left: 0;
        position: absolute;
        width: 100.4%;
        margin-right: 0;
    }
}
.in-trainer .trainer-information{
    bottom: 0;
    left: 0;
    height: 98px;
    padding-top: 17px;
    padding-right: 14px;
    h2{
        letter-spacing: 1px;
    }
    p{
        letter-spacing: 1px;
    }
}
.trainer-info__right{
    ul{
        padding-top: 88px;
    }
    li{
        text-align: left;
        *{display: inline-block;vertical-align: middle}
        border-bottom: 1px solid #dddddd;
    }
    span{
        width: 60px;
        text-align: center;
        margin-bottom: 9px;
        padding-top: 12px;
    }
    b{
        color: #333333;
        font-size: 12.5px;
        padding-left: 20px;
        min-width: 160px;
        text-transform: uppercase;
    }


}
.trainer-video{
    max-width: 720px;
    margin: 0 auto;
    min-height: 361px;
    margin-top: 70px;
    background-color: #333333;
}
.course-kinds{
    a{

        display: inline-block;
        padding-top: 8px;
        font-size:10.42px;
        border: 2px solid #6dc0df;
        color: #fff;
        background-color: #0b96cb;
        border-radius: 5px;
        min-height: 50px;
        width: 153px;
        line-height: 11px;
        text-align: center;
        position: relative;
        letter-spacing: -0.2px;
        margin-bottom: 20px;
        &:after{
            position: absolute;
            bottom: -38px;
            left: 50%;
            content: '';
            margin-left: 0px;
            width: 3px;
            height: 36px;
            background-color: #afc2c8;
        }
        &:hover{
            text-decoration: none;
        }
    }
    b{
        font-size:20.83px;
    }

}
.bottom-kinds{
    display: inline-block;
    margin-top: 50px;
    li{
        float: left;
        margin: 0 50px;
        &:nth-child(2n){
            a{
                &:before{
                    position: absolute;
                    min-width: 508px;
                    width: 100%;
                    top: -36px;
                    left: -119%;
                    height: 3px;
                    content: '';
                    background-color: #afc2c8;

                }
            }
        }
    }
    a{
        &:after{
            bottom: inherit;
            top: -36px;
            height: 34px;
        }

    }
}
.left-activi__box .change-blocks{
    margin-top: 25px;
    margin-left: 0;
    a{
        width: 140px;
        margin: 0 10px;
    }
}

//ALWAYS END
@import "media.scss";
@import "sketches.scss";