*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.date {
  padding-top: 60px;
  text-align: center; }

.date .buttons {
  margin-top: 103px;
  margin-bottom: 71px;
  font-family: RobotoBold;
  font-size: 22.92px; }
  .date .buttons a {
    padding: 12px 36px;
    display: block; }

.all-title {
  text-align: center;
  font-family: RobotoLight; }
  .all-title h2 {
    font-size: 41.67px;
    color: #626262;
    letter-spacing: 0.7px;
    line-height: 57px;
    padding-top: 5px;
    text-transform: uppercase; }
  .all-title p {
    font-size: 20.83px;
    line-height: 25px;
    padding-top: 16px;
    letter-spacing: 0.4px; }
  .all-title span {
    color: #333333; }

.gray-line {
  display: inline-block;
  height: 2px;
  max-width: 214px;
  width: 100%;
  background-color: #c7c7c7; }

.all-items {
  margin-top: 73px;
  text-align: left; }

.date-item {
  float: left;
  max-width: 460px;
  min-height: 568px;
  width: 100%;
  background-color: #f1f4f9;
  border: 1px solid #d9d7d7;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  position: relative;
  margin: 0 9px 0 90px;
  padding: 20px 19px; }

.circle {
  position: absolute;
  left: 50%;
  top: -54px;
  width: 120px;
  height: 121px;
  margin-left: -59px;
  background-color: #f1f4f9;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  border: 1px solid #dbd9d9;
  background-repeat: no-repeat;
  background-position: center; }

.in-item {
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background-color: #fff;
  font-size: 16.67px;
  color: #757575;
  padding-left: 104px;
  padding-top: 73px; }
  .in-item p {
    letter-spacing: -0.1px;
    position: relative; }
  .in-item b {
    font-size: 20.83px;
    letter-spacing: 0.9px; }
  .in-item span {
    font-size: 29.17px;
    color: #333333;
    letter-spacing: 0.9px; }

.calendar {
  margin-bottom: 34px;
  line-height: 22.9px; }
  .calendar p:after {
    position: absolute;
    left: -56px;
    top: 0;
    content: '';
    width: 32px;
    height: 32px;
    background-image: url("../img/calendar.png");
    background-repeat: no-repeat; }

body .time p {
  line-height: 27px;
  letter-spacing: 0.2px; }
  body .time p:after {
    position: absolute;
    left: -57px;
    top: 5px;
    content: '';
    width: 32px;
    height: 32px;
    background-image: url("../img/time.png");
    background-repeat: no-repeat; }

.free-space {
  width: 179px;
  height: 184px;
  margin: 56px 18px 0 18px;
  margin-bottom: 50px;
  background-image: url("../img/space.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 48px;
  display: inline-table; }
  .free-space b {
    color: #f26c4f;
    font-size: 16.67px;
    letter-spacing: 0;
    line-height: 24px;
    display: block; }
  .free-space span {
    font-size: 50px;
    color: #f26c4f !important;
    line-height: 39px; }

.right-space {
  margin-top: 25px; }

.prise {
  position: absolute;
  left: 50%;
  bottom: -24px;
  margin-left: -107px;
  border: 3px solid #f26c4f;
  background-color: #fff; }
  .prise h3 {
    color: #333333;
    font-size: 31.25px;
    font-family: RobotoBold;
    padding: 5px 22px; }

.practice {
  background-image: url("../img/bg-teory.jpg");
  min-height: 406px; }

.practice_theory ul {
  margin: 71px 0 0 163px; }

.practice_theory li {
  float: left;
  position: relative;
  text-align: center;
  margin-right: 191px; }
  .practice_theory li:after {
    position: absolute;
    right: -130px;
    top: 73px;
    content: '';
    background-image: url("../img/arrow.png");
    width: 73px;
    height: 15px; }
  .practice_theory li:nth-child(2) {
    margin-right: 177px; }
  .practice_theory li:last-child {
    margin-right: 0; }
    .practice_theory li:last-child:after {
      display: none; }
    .practice_theory li:last-child p {
      margin-left: -5px; }

.practice_theory p {
  text-transform: uppercase;
  font-size: 18.75px;
  font-family: RobotoLight;
  line-height: 23px;
  padding-top: 35px;
  margin-left: -19px;
  color: #fff; }

.circle-theory {
  width: 161px;
  height: 164px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  .circle-theory h2 {
    color: #0b98cd;
    font-size: 50px;
    font-family: RobotoBold;
    padding-top: 45px; }

.usefully {
  padding-top: 54px;
  background-color: #f1f4f9; }

.specialists {
  padding-top: 70px; }
  .specialists li {
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    float: left;
    position: relative;
    background-color: #fff;
    max-width: 262px;
    padding-left: 20px;
    padding-top: 93px;
    margin: 0 20px 70px 18px;
    min-height: 461px;
    max-height: 461px; }
    .specialists li:after {
      position: absolute;
      right: -28px;
      top: 189px;
      content: '';
      background-image: url("../img/arrow-l.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      height: 26px; }
    .specialists li:last-child:after {
      display: none; }
    .specialists li:last-child p {
      line-height: 18px; }
    .specialists li h2 {
      font-size: 20.83px;
      color: #656565;
      font-family: RobotoBold;
      line-height: 25px;
      text-transform: uppercase;
      min-height: 50px; }
    .specialists li p {
      font-size: 14.58px;
      color: #757575;
      padding-top: 14px;
      line-height: 19px;
      padding-right: 21px; }

.circle__img {
  width: 116px;
  height: 116px;
  position: absolute;
  left: 50%;
  top: -58px;
  margin-left: -58px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  border: 2px solid #b3c4ca;
  background-color: #0b97cc;
  background-repeat: no-repeat;
  background-position: center; }

.forms {
  background-image: url("../img/bg-forma.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 375px; }
  .forms form {
    padding-left: 36px;
    padding-top: 27px;
    text-align: center; }
    .forms form input {
      padding: 16px 35px 16px 45px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      margin-right: 26px;
      font-size: 16.67px;
      color: #757575;
      position: relative;
      background-repeat: no-repeat;
      background-position: 17px 21px; }
      .forms form input::-webkit-input-placeholder {
        font-size: 16.67px;
        color: #757575;
        border-left: 1px solid #e0e0e5;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px; }
      .forms form input::-moz-placeholder {
        font-size: 16.67px;
        color: #757575;
        border-left: 1px solid #e0e0e5;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px; }
      .forms form input:-moz-placeholder {
        font-size: 16.67px;
        color: #757575;
        border-left: 1px solid #e0e0e5;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px; }
      .forms form input:-ms-input-placeholder {
        font-size: 16.67px;
        color: #757575;
        border-left: 1px solid #e0e0e5;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px; }
    .forms form button {
      padding: 17px 77px;
      color: #fff;
      text-transform: uppercase; }
      .forms form button:hover {
        background-color: #0b98cd; }

.title-form {
  text-align: center;
  padding-top: 60px;
  color: #fff; }
  .title-form h2 {
    font-size: 50px;
    line-height: 73.6px; }
  .title-form p {
    font-size: 20.83px; }

.course {
  padding-top: 50px;
  text-align: center; }

.number-course {
  padding: 15px 63px;
  position: relative; }

.indent {
  padding-top: 47px;
  text-align: left; }

.count {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 64px;
  background-color: #fff;
  height: 64px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  border: 1px solid #0b98cd;
  font-size: 29.17px;
  text-align: center;
  padding: 8px 10px; }

.course-describe {
  padding-left: 5px; }
  .course-describe h2 {
    font-size: 29.17px;
    padding-top: 5px;
    letter-spacing: -0.1px; }
  .course-describe p {
    padding-top: 4px;
    line-height: 20px;
    padding-bottom: 15px;
    letter-spacing: -0.1px; }
  .course-describe span {
    font-family: RobotoBold; }

.item-course__indent {
  padding-bottom: 35px; }

.item-course__indent2 {
  padding-bottom: 29px; }
  .item-course__indent2 .number-course {
    padding-left: 48px; }

.item-course__indent3 .number-course {
  padding-left: 12px; }

.item-course__indent4 {
  padding-bottom: 31px; }
  .item-course__indent4 .number-course {
    padding-left: 99px; }

.item-course__indent5 .number-course {
  padding-left: 58px;
  padding-top: 13px; }

.course .buttons {
  margin-top: 37px;
  margin-bottom: 71px; }
  .course .buttons a {
    padding: 12px 35px;
    font-family: RobotoBold;
    font-size: 22.92px; }

.listener {
  background-color: #f1f4f9;
  padding-top: 70px;
  padding-bottom: 85px; }

.listener__white {
  background-color: #fff;
  padding-top: 59px;
  text-align: center; }

.listener-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  max-width: 220px;
  width: 100%;
  margin: 39px 8px 21px 8px; }
  .listener-item p {
    line-height: 21px; }

.listener__img {
  height: 106px; }

.safeguard {
  background-image: url("../img/garant-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 581px;
  padding-top: 83px;
  text-align: center; }

.security-info {
  padding-top: 27px; }
  .security-info h2 {
    font-size: 33.33px;
    color: #0b98cd;
    font-family: RobotoBold; }
  .security-info p {
    font-size: 20.83px;
    padding-top: 26px;
    line-height: 26px;
    letter-spacing: 0.2px; }
  .security-info span {
    color: #333333; }
  .security-info .buttons {
    margin-top: 63px; }
    .security-info .buttons a {
      font-family: RobotoBold;
      font-size: 22.92px;
      padding: 13px 35px; }

.trainer {
  padding-top: 54px;
  min-height: 784px;
  background-color: #f1f4f9; }

.foto-trainer {
  text-align: right;
  padding-top: 83px; }
  .foto-trainer img {
    margin-right: -49px; }

.trainer-information {
  text-align: right;
  position: absolute;
  bottom: 31px;
  left: 24px;
  background-color: #0b98cd;
  color: #fff;
  width: 220px;
  height: 72px;
  padding: 0 35px 0 0; }
  .trainer-information h2 {
    font-size: 20.83px;
    font-family: RobotoBold;
    text-transform: uppercase;
    padding-top: 7px;
    line-height: 20px; }
  .trainer-information p {
    line-height: 20px; }

.info-block {
  padding-top: 85px;
  padding-left: 58px; }

.inputs-change li {
  float: left; }

.inputs-change a {
  display: block;
  padding: 7px 18px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #adc0c6;
  font-size: 14.58px;
  margin-right: 8px;
  -webkit-transition: .5s all;
  transition: .5s all; }
  .inputs-change a:hover {
    background-color: #0b98cd;
    font-family: RobotoRegular;
    color: #fff;
    border: none;
    text-decoration: none;
    -webkit-transition: .5s all;
    transition: .5s all;
    padding: 9px 20px;
    margin-right: 7px; }

.inputs-change__mobile {
  display: none; }

.change-blocks {
  margin-top: 99px; }
  .change-blocks li {
    float: left; }
  .change-blocks a {
    display: block;
    background-color: #fff;
    width: 185px;
    height: 180px;
    margin-right: 5px;
    margin-bottom: 4px;
    padding: 28px 0 0 13px; }
    .change-blocks a:hover {
      background-color: #0b98cd;
      color: #fff;
      text-decoration: none; }
      .change-blocks a:hover h3 {
        color: #fff; }
  .change-blocks .icon-block {
    height: 56px;
    background-repeat: no-repeat; }
  .change-blocks h3 {
    font-family: RobotoBold;
    color: #333333;
    line-height: 20px; }
  .change-blocks p {
    font-size: 20.83px;
    line-height: 25px; }
  .change-blocks span {
    display: block; }

.active-trainer {
  background-color: #0b98cd;
  font-family: RobotoRegular;
  color: #fff;
  border: none !important;
  text-decoration: none;
  -webkit-transition: .5s all;
  transition: .5s all;
  padding: 9px 20px;
  margin-right: 7px; }

.change-blocks__prof a {
  text-align: center;
  padding-left: 0; }

.change-blocks__prof .icon-block {
  background-position: center top;
  height: 70px; }

.change-blocks a:hover .icon-hover1 {
  background-image: url("../img/icon-man_h.png") !important; }

.change-blocks a:hover .icon-hover2 {
  background-image: url("../img/icon-sert_h.png") !important; }

.change-blocks a:hover .icon-hover3 {
  background-image: url("../img/icon-star_h.png") !important; }

.change-blocks a:hover .icon-hover4 {
  background-image: url("../img/icon-bag_h.png") !important; }

.change-blocks a:hover .icon-hover5 {
  background-image: url("../img/icon-pipl_h.png") !important; }

.change-blocks a:hover .icon-hover6 {
  background-image: url("../img/icon-router_h.png") !important; }

.change-blocks a:hover .icon-hover7 {
  background-image: url("../img/icon-pc_h.png") !important; }

.change-blocks a:hover .icon-hover8 {
  background-image: url("../img/icon-wifi_h.png") !important; }

.change-blocks a:hover .icon-hover9 {
  background-image: url("../img/icon-linux_h.png") !important; }

.change-blocks a:hover .icon-hover10 {
  background-image: url("../img/icon-vmware_h.png") !important; }

.change-blocks a:hover .icon-hover11 {
  background-image: url("../img/icon-windows_h.png") !important; }

.change-blocks a:hover .icon-hover12 {
  background-image: url("../img/icon-zabbix_h.png") !important; }

.change-blocks a:hover .icon-hover13 {
  background-image: url("../img/icon-zimbra_h.png") !important; }

.performance {
  border-top: 1px solid #c7c7c7;
  padding: 10px 10px; }
  .performance span {
    float: left;
    font-size: 16.67px;
    color: #626262;
    font-family: RobotoBold;
    max-width: 221px;
    width: 100%; }

.forms-second form input {
  padding: 16px 80px 16px 45px;
  max-width: 550px;
  width: 100%;
  margin-left: 146px; }

.forms-second form button {
  padding: 17px 33px; }

.webinar {
  background-color: #f1f4f9;
  padding-top: 38px;
  padding-bottom: 30px; }

.webinar-slider {
  margin-top: 52px; }

.webinar-slider .lSSlideOuter .lSPager.lSpg > li a {
  width: 13px;
  height: 13px;
  background-color: #b5c6cc; }

.webinar-slider .lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #33ccff; }

.webinar-slider .lSAction > a {
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 30px;
  top: 43%; }

.webinar-slider .lSAction > .lSPrev {
  background-image: url("../img/arrow-slider1.png"); }

.webinar-slider .lSAction > .lSNext {
  background-image: url("../img/arrow-slider2.png"); }

.webinar-slider .lSSlideOuter .lSPager.lSpg > li {
  padding: 0 9px; }

.left-section_webinar {
  padding: 0 0 0 61px;
  text-align: center; }
  .left-section_webinar h3 {
    background-color: #0b98cd;
    display: inline-block;
    font-size: 12.5px;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 55px;
    margin-top: 4px; }
  .left-section_webinar h2 {
    text-align: left;
    font-size: 16.67px;
    font-family: RobotoBold;
    text-transform: uppercase;
    padding: 5px 0 0 28px; }
  .left-section_webinar p {
    font-size: 14.58px;
    text-align: left;
    padding: 0px 0 0 28px; }

.right-section_webinar {
  border: 1px solid #cccccc;
  background-color: #fff;
  -webkit-border-radius: 0px 9px 9px;
  border-radius: 0px 9px 9px;
  max-width: 782px;
  width: 100%;
  margin-left: 22px;
  padding-left: 61px;
  padding-top: 23px;
  position: relative; }
  .right-section_webinar:after {
    position: absolute;
    top: -1px;
    left: -80px;
    content: '';
    background-image: url("../img/slider-block.png");
    z-index: 69;
    width: 80px;
    height: 47px;
    background-repeat: no-repeat; }

.text-webinar h2 {
  color: #0b98cd;
  font-size: 20.83px;
  font-family: RobotoBold;
  line-height: 25px; }

.text-webinar p {
  font-size: 14.58px;
  line-height: 18px;
  padding-top: 5px; }

.text-webinar a {
  color: #4984ae;
  font-size: 14.58px;
  border-bottom: 1px dotted #4984ae;
  line-height: 20px;
  margin-bottom: 20px;
  display: inline-block; }
  .text-webinar a:hover {
    text-decoration: none;
    border-bottom: none; }

.bottom-data {
  border-top: 1px solid #c7c7c7;
  margin-right: 56px; }
  .bottom-data p {
    display: inline-block;
    position: relative;
    font-size: 12.5px;
    margin-top: 20px;
    padding: 0 25px 25px 22px; }
    .bottom-data p:after {
      position: absolute;
      left: -1px;
      top: 5px;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      width: 12px;
      height: 12px; }
  .bottom-data span {
    font-family: RobotoBold; }

.data-b:after {
  background-image: url("../img/icon-calendar.png"); }

.time-b:after {
  background-image: url("../img/icon-time.png"); }

.bottom-data .buttons {
  margin-top: 10px; }
  .bottom-data .buttons a {
    padding: 10px 53px;
    text-transform: uppercase;
    font-size: 14.58px; }

.experts {
  padding-top: 72px;
  padding-bottom: 15px; }

.experts-side {
  padding-left: 91px;
  padding-top: 6px;
  padding-right: 23px;
  margin-bottom: 43px;
  float: left; }
  .experts-side h2 {
    font-size: 20.83px;
    font-family: RobotoBold; }
  .experts-side p {
    font-size: 16.67px;
    line-height: 20px;
    padding-top: 13px; }

.last-side {
  padding-left: 115px; }

.side_icon {
  height: 80px; }

.photogallery {
  background-color: #f1f4f9;
  padding-top: 36px;
  text-align: center; }

.photo-preview {
  margin-top: 59px; }

.in-preview {
  float: left;
  margin: 0 10px; }

.photogallery .buttons {
  margin-top: 48px;
  margin-bottom: 50px; }
  .photogallery .buttons a {
    padding: 12px 47px;
    text-transform: uppercase;
    font-size: 14.58px; }

.comment {
  background-color: #f1f4f9;
  padding-top: 70px;
  padding-bottom: 50px; }

.title-coment {
  font-size: 41.67px;
  color: #333333;
  text-align: center;
  text-transform: uppercase; }

#comment {
  height: 401px !important; }
  #comment li {
    background-color: #fff;
    margin: 25px auto;
    position: relative; }
    #comment li:after {
      position: absolute;
      left: 9.4%;
      top: -20px;
      content: '';
      background-image: url("../img/quotes1.png");
      background-repeat: no-repeat;
      width: 65px;
      height: 41px;
      z-index: 69; }
    #comment li:before {
      position: absolute;
      right: 9.4%;
      bottom: -15px;
      content: '';
      background-image: url("../img/quotes2.png");
      background-repeat: no-repeat;
      width: 65px;
      height: 41px;
      z-index: 69; }

.comment-slider {
  margin-top: 28px; }

.comment-slider .lSAction > .lSPrev {
  background-image: url("../img/arrow-slider1.png"); }

.comment-slider .lSAction > .lSNext {
  background-image: url("../img/arrow-slider2.png"); }

.comment-slider .lSAction > a {
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 30px;
  top: 43%; }

.comment-slider .lSSlideOuter .lSPager.lSpg > li {
  padding: 0 8px; }

.comment-slider .lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #33ccff; }

.comment-slider .lSSlideOuter .lSPager.lSpg > li a {
  background-color: #b5c6cc;
  width: 13px;
  height: 13px; }

.left-section__comment {
  padding-top: 58px;
  padding-left: 180px;
  padding-bottom: 58px; }

.right-section__comment {
  padding-top: 54px;
  padding-left: 110px; }
  .right-section__comment h2 {
    color: #ea5517;
    font-size: 20.83px;
    letter-spacing: 0.2px;
    line-height: 25px; }
  .right-section__comment span {
    font-size: 16.67px;
    color: #333333; }
  .right-section__comment p {
    padding-top: 13px;
    font-size: 16.67px;
    color: #818181;
    line-height: 21px; }
  .right-section__comment .comment__line {
    width: 110px;
    height: 1px;
    background-color: #999999;
    margin-top: 12px; }

.partners {
  padding-top: 52px;
  height: 580px; }

.partners-slider {
  max-width: 1060px;
  margin: 40px auto; }

.partners-slider .lSAction > a {
  width: 18px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 69; }

.partners-slider .lSAction > .lSPrev {
  left: 0;
  background-image: url("../img/arrow-slider1.png"); }

.partners-slider .lSAction > .lSNext {
  right: 0;
  background-image: url("../img/arrow-slider2.png"); }

#partners {
  height: 315px !important; }
  #partners li {
    text-align: center;
    border-right: 1px solid #cccccc;
    width: 215px;
    height: 314px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 0 !important; }
    #partners li:last-child {
      border-right: none; }

.in-part {
  width: 100%;
  border-bottom: 1px solid #cccccc; }

.in-second-part {
  padding-top: 20px; }

.bottom-forma {
  background-color: #f1f4f9;
  padding-top: 99px;
  padding-bottom: 115px; }

.left-info__text {
  max-width: 560px;
  background-color: #fff;
  text-align: center;
  margin-left: 10px;
  padding-top: 55px;
  padding-bottom: 19px; }
  .left-info__text h2 {
    font-size: 37.5px;
    color: #626262;
    text-transform: uppercase;
    line-height: 25px; }
  .left-info__text .line-info__text {
    max-width: 214px;
    width: 100%;
    display: inline-block;
    height: 1px;
    background-color: #c7c7c7; }
  .left-info__text span {
    font-size: 25px;
    font-family: RobotoBold;
    color: #626262;
    display: block;
    text-transform: uppercase;
    padding: 4px 0 0 0; }
  .left-info__text p {
    padding: 17px 0 0 0;
    line-height: 22px; }
  .left-info__text b {
    display: block;
    color: #0b98cd;
    font-size: 37.5px;
    padding-bottom: 9px; }
  .left-info__text tt {
    font-family: RobotoLight;
    padding-top: 17px;
    display: inline-block; }

.right__forma {
  max-width: 560px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 65px;
  margin-left: 16px; }
  .right__forma h2 {
    font-size: 37.5px;
    line-height: 43px;
    text-transform: uppercase;
    color: #626262; }
  .right__forma br {
    display: none; }
  .right__forma p {
    font-size: 20.83px;
    padding-top: 5px;
    padding-bottom: 15px; }
  .right__forma form input {
    display: inline-block;
    width: 92%;
    background-color: #f5f6f7;
    border: 1px solid #d9d7d7;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 14.58px;
    margin-top: 18px;
    padding: 13px 30px; }
    .right__forma form input::-webkit-input-placeholder {
      font-size: 14.58px; }
    .right__forma form input::-moz-placeholder {
      font-size: 14.58px; }
    .right__forma form input:-moz-placeholder {
      font-size: 14.58px; }
    .right__forma form input:-ms-input-placeholder {
      font-size: 14.58px; }
  .right__forma form .buttons {
    margin-left: 25px; }
    .right__forma form .buttons a {
      font-size: 18.75px;
      font-family: RobotoBold;
      padding: 14px 53px; }
  .right__forma form tt {
    text-decoration: underline;
    padding: 15px 30px 0 0; }

.upload {
  display: inline-block; }
  .upload a {
    margin-top: 23px;
    color: #fff;
    display: inline-block;
    font-size: 18.75px;
    font-family: RobotoBold;
    background-color: #46c084;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 14px 30px; }
    .upload a:hover {
      color: #fff;
      background-color: #0b98cd;
      text-decoration: none; }
  .upload input[type=file] {
    display: none; }

.video-fon {
  background-image: url("../img/bg-videofon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 520px;
  text-align: center;
  padding-top: 163px; }
  .video-fon h2 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    line-height: 63px;
    letter-spacing: 0.3px; }
  .video-fon span {
    font-family: RobotoBold; }
  .video-fon h3 {
    background-color: #0b98cd;
    display: inline-block;
    font-size: 37.5px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 13px; }

.blue-line {
  max-width: 216px;
  width: 100%;
  height: 1px;
  background-color: #0c98cd;
  display: inline-block; }

footer {
  background-color: #2e2e2e;
  padding-top: 40px;
  padding-bottom: 48px; }

.all-footer__menu {
  color: #a2a2a2;
  padding-left: 79px; }
  .all-footer__menu h3 {
    color: #fff;
    font-size: 20.83px;
    text-transform: uppercase;
    font-family: RobotoBold; }
  .all-footer__menu ul {
    margin-top: 7px; }
  .all-footer__menu li {
    padding-left: 12px; }
  .all-footer__menu a {
    color: #a2a2a2;
    font-size: 14.58px;
    padding-top: 4px;
    padding-bottom: 1.5px;
    display: block; }
    .all-footer__menu a:hover {
      color: #fff; }
  .all-footer__menu tt {
    padding-left: 9px;
    font-size: 14.58px;
    margin-top: 10px;
    display: block; }
  .all-footer__menu p {
    padding-left: 9px;
    line-height: 19px;
    letter-spacing: -1px;
    padding-bottom: 10px;
    position: relative; }
    .all-footer__menu p:after {
      position: absolute;
      left: -22px;
      top: 15px;
      content: '';
      background-repeat: no-repeat;
      background-position: center; }
  .all-footer__menu b {
    color: #fff;
    font-family: RobotoBold; }
  .all-footer__menu span {
    color: #fff;
    font-size: 18.75px;
    letter-spacing: -0.1px;
    display: block;
    padding-top: 3px; }

.second-foot__menu {
  padding-left: 73px; }

.third-foot__menu {
  padding-left: 37px; }

.foot-way {
  padding: 11px 0 0px 0; }
  .foot-way:after {
    background-image: url("../img/icon-map.png");
    width: 14px;
    height: 20px; }

.foot-telephone {
  margin-top: 12px;
  margin-bottom: 9px; }
  .foot-telephone:after {
    background-image: url("../img/icon-phone.png");
    width: 20px;
    height: 20px; }

body .foot-email {
  position: relative;
  color: #fff;
  margin-left: 9px;
  font-size: 18.75px; }
  body .foot-email:after {
    position: absolute;
    left: -34px;
    top: 12px;
    content: '';
    background-image: url("../img/icon-mail.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 13px; }

.foot-nav {
  background-color: #252525; }

.footer-logo {
  margin: 10px 0 10px 10px; }

.scroll-up a {
  border: 2px solid #666666;
  display: block;
  width: 36px;
  height: 36px;
  margin-top: -49px;
  margin-left: -47px;
  background-image: url("../img/up.png");
  background-repeat: no-repeat;
  background-position: center; }

.footer-map img {
  width: 100%; }

.vox {
  display: none; }

.title-internal {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 30px; }
  .title-internal h2 {
    font-size: 41.67px;
    padding-top: 45px;
    color: #626262;
    padding-bottom: 25px; }

.activities__items {
  border: 1px solid #dddddd;
  margin-left: 60px;
  padding-top: 31px;
  margin-top: 20px;
  position: relative; }
  .activities__items p {
    font-size: 14.58px; }

.left-activities {
  text-align: center; }
  .left-activities h3 {
    font-size: 18.75px;
    font-family: RobotoBold;
    line-height: 25px; }
  .left-activities img {
    margin-bottom: 8px; }

.right-activities {
  text-align: center; }
  .right-activities h2 {
    text-align: left;
    font-size: 25px;
    color: #626262;
    padding-bottom: 25px; }
  .right-activities span {
    text-align: left;
    margin: 25px 0 22px 0;
    display: block;
    font-family: RobotoBold;
    font-size: 16.67px; }
  .right-activities p {
    text-align: left; }
  .right-activities .buttons {
    margin: 20px auto;
    padding: 9px 55px; }

.speaker {
  background-color: #0b98cd;
  color: #fff;
  text-transform: uppercase;
  font-size: 12.5px;
  max-width: 77px;
  margin: 12px auto; }

.gray-activi__text {
  background-color: #f4f4f4;
  padding: 18px 0 21px 9px;
  margin-right: 12px; }
  .gray-activi__text span {
    font-family: RobotoBold;
    color: #333333;
    display: inline-block;
    margin: 0; }

.data-blue {
  position: absolute;
  left: -60px;
  top: 31px;
  color: #fff;
  text-align: center;
  width: 60px;
  height: 64px;
  background-color: #0b98cd; }
  .data-blue span {
    font-size: 16.67px;
    font-family: RobotoBold;
    line-height: 30px; }
  .data-blue p {
    line-height: 15px; }

.gray-start {
  position: absolute;
  left: -60px;
  top: 94px;
  text-align: center;
  width: 60px;
  height: 65px;
  background-color: #e9e9e9;
  padding-top: 20px; }
  .gray-start p {
    line-height: 10px; }
  .gray-start span {
    color: #333333;
    font-family: RobotoBold;
    font-size: 16.67px; }

.black-time {
  position: absolute;
  left: -60px;
  top: 158px;
  text-align: center;
  width: 60px;
  height: 88px;
  background-color: #302e33;
  padding-top: 12px;
  color: #fff; }
  .black-time p {
    font-size: 10.42px;
    line-height: 12px; }
  .black-time span {
    font-family: RobotoBold;
    font-size: 16.67px; }

@media only screen and (max-width: 1230px) {
  .in-preview {
    margin: 0;
    float: none;
    max-width: 321px;
    display: inline-block; }
    .in-preview img {
      width: 100%; }
    .in-preview:nth-child(2) {
      margin: 0 10px !important; }
  .photo-preview {
    text-align: center; } }

@media only screen and (max-width: 1228px) {
  .phones {
    margin-left: -50px; } }

@media only screen and (max-width: 1229px) {
  .specialists ul {
    text-align: center; }
  .specialists li {
    max-width: 381px;
    text-align: left;
    display: inline-block;
    float: none;
    min-height: 359px;
    margin: 30px 40px;
    vertical-align: top;
    margin-bottom: 80px; }
    .specialists li:first-child:after {
      position: absolute;
      right: -50px;
      top: 189px;
      content: '';
      background-image: url("../img/arrow-l.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      height: 26px; }
    .specialists li:nth-child(2):after {
      display: none; }
    .specialists li:nth-child(3):after {
      right: -50px;
      background-image: url("../img/arrow-2.png"); } }

@media only screen and (max-width: 1200px) {
  .left-info__text {
    max-width: 377px;
    margin-left: 95px;
    min-height: 574px;
    width: 100%; }
    .left-info__text h2 {
      font-size: 2.8vw; }
  .right__forma {
    max-width: 377px;
    min-height: 574px; }
    .right__forma h2 {
      font-size: 2.8vw; }
    .right__forma br {
      display: block; }
  .upload {
    vertical-align: top; }
    .upload a {
      padding: 5px 48px;
      line-height: 25px; }
  .right__forma form .buttons {
    margin-top: 23px;
    margin-left: 0px; }
    .right__forma form .buttons a {
      padding: 15px 23px; }
  .right__forma form tt {
    padding-right: 15px; } }

@media only screen and (max-width: 1194px) {
  .inputs-change {
    display: none; }
  .inputs-change__mobile {
    display: block;
    margin-top: 30px; }
    .inputs-change__mobile ul {
      text-align: center; }
    .inputs-change__mobile li {
      float: none;
      display: inline-block; }
  .change-blocks {
    margin-top: 0;
    margin-left: 20px; } }

@media only screen and (max-width: 1192px) {
  .forms form {
    padding-left: 0;
    text-align: center; }
    .forms form input {
      margin-bottom: 25px;
      margin-right: 15px;
      margin-left: 15px; } }

@media only screen and (max-width: 1193px) {
  .phones-number {
    padding-left: 10px; } }

@media only screen and (max-width: 1179px) {
  .phones-text {
    padding-left: 0; }
  .phones-number {
    padding-left: 5px; } }

@media only screen and (max-width: 1172px) {
  .experts-side {
    padding-left: 70px; }
  .last-side {
    padding-left: 100px; } }

@media only screen and (max-width: 1158px) {
  .practice_theory {
    text-align: center; }
  .practice_theory ul {
    margin-left: 0;
    display: inline-block; } }

@media only screen and (max-width: 1153px) {
  .phones_buttons {
    margin-left: 30px; } }

@media only screen and (max-width: 1147px) {
  .all-items {
    text-align: center; }
  .date-item {
    float: none;
    display: inline-block;
    margin: 0 15px;
    text-align: left; } }

@media only screen and (max-width: 1136px) {
  .experts-side {
    padding-left: 70px;
    padding-top: 30px; }
  .last-side {
    padding-left: 95px; } }

@media only screen and (max-width: 1131px) {
  .last-side {
    padding-left: 92px; } }

@media only screen and (max-width: 1128px) {
  .phones {
    margin-left: -70px; }
  .phones_buttons {
    margin-left: 15px; }
  .last-side {
    padding-left: 90px; }
  .experts-side p {
    font-size: 1.4vw; } }

@media only screen and (max-width: 1097px) {
  .phones_buttons {
    margin-left: 10px; } }

@media only screen and (max-width: 1088px) {
  .phones_buttons {
    margin-left: 5px; } }

@media only screen and (max-width: 1078px) {
  .phones_buttons {
    margin-left: 20px; }
  .menu a {
    margin-right: 10px; } }

@media only screen and (max-width: 1048px) {
  .phones {
    margin-left: -90px; } }

@media only screen and (max-width: 1024px) {
  .button-search input {
    bottom: -73px; }
  .phones {
    margin-left: -100px; }
  .logo {
    padding-left: 0px; }
  .phones-number {
    padding-left: 21px; }
  .menu {
    display: none; }
  .toggle_mnu {
    display: block !important;
    float: left; }
  .button-search {
    margin-top: 10px;
    margin-right: 0; }
    .button-search a {
      background-color: transparent;
      background-image: url("../img/search-pl.png"); }
  .banner_blue h1 {
    font-size: 3.4vw;
    padding: 10px; }
  .banner h2 {
    margin-left: 15px;
    font-size: 3vw; }
  .full-banner {
    background-position: 355% 120px; }
  .all-items {
    text-align: center; }
  .date-item {
    float: none;
    display: inline-block;
    margin: 0 10px;
    text-align: left; }
  .number-course {
    margin-left: 30px; }
  .listener__white {
    text-align: left; }
  .security-info span {
    font-family: RobotoBold; }
  .experts {
    text-align: center; }
  .experts-side {
    float: none;
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 40px 40px;
    width: 100%;
    max-width: 400px;
    vertical-align: top; }
    .experts-side p {
      font-size: 1.6vw; }
    .experts-side br {
      display: none; }
  .webinar .lSAction {
    display: none !important; }
  .webinar li {
    margin-right: -4px !important; }
  .left-section_webinar h2 {
    padding-left: 5px; }
  .left-section_webinar p {
    padding-left: 5px; }
  .comment-slider {
    max-width: 750px;
    margin: 0 auto; }
  .left-section__comment {
    padding-left: 31px; }
  .right-section__comment {
    padding-left: 40px; }
  .all-footer__menu {
    padding-left: 95px; }
  .second-foot__menu {
    padding-left: 30px; }
  .third-foot__menu {
    padding-left: 30px; }
  .las-foor__menu {
    padding-left: 0px; }
  .foot-nav {
    text-align: center; }
  .footer-logo {
    float: left;
    margin-left: 0; }
  .vox {
    display: inline-block;
    margin-top: 15px; }
  .scroll-up a {
    margin-top: 17px;
    display: inline-block; } }

@media only screen and (max-width: 1021px) {
  .in-preview {
    margin: -5px; } }

@media only screen and (max-width: 1006px) {
  .phones {
    margin-left: -130px; }
  .phones_buttons {
    margin-left: 0; } }

@media only screen and (max-width: 1001px) {
  .in-preview {
    margin: -10px; } }

@media only screen and (max-width: 991px) {
  header {
    height: auto;
    text-align: center; }
  .logo {
    display: inline-block;
    margin: 50px auto; }
  .phones {
    margin-left: 0px;
    text-align: left; }
  .buttons {
    -webkit-border-radius: 7px;
    border-radius: 7px; }
  .phones_buttons {
    float: right;
    margin-bottom: 20px; }
  .full-banner {
    background-position: 800% 120px; }
  .banner_blue h1 {
    font-size: 4.4vw; }
  .banner_blue h2 {
    font-size: 3.9vw; }
  .all-items {
    text-align: center; }
  .date-item {
    float: none;
    display: inline-block;
    margin: 0 5px;
    text-align: left; }
  .left-section_webinar {
    padding-left: 20px; }
    .left-section_webinar h2 {
      padding-left: 0px;
      font-size: 15.9px; }
    .left-section_webinar p {
      padding-left: 0px; }
  .right-section_webinar {
    margin-left: 0;
    padding-left: 20px; }
  .bottom-data {
    margin-right: 0;
    position: relative; }
    .bottom-data p {
      display: block;
      margin-top: 5px; }
    .bottom-data .buttons {
      margin-right: 10px;
      position: absolute;
      right: 0;
      top: 0;
      float: none !important;
      display: inline-block; }
  .bottom-data p {
    padding-bottom: 5px; }
  .webinar li {
    margin-left: 2px !important; }
  .experts-side {
    margin: 40px 25px; }
  .in-preview {
    max-width: 250px;
    margin: 0 6px; }
  .all-footer__menu {
    padding-left: 30px; }
  .listener-item {
    margin: 25px 8px; }
  .left-info__text {
    margin-left: 0;
    display: inline-block; }
  .right__forma {
    margin-left: 0; }
  .bottom-forma div[class^=col-sm-6] {
    text-align: right; }
  .partners .lSSlideOuter {
    max-width: 700px;
    margin: 0 auto; }
    .partners .lSSlideOuter li {
      max-width: 228px !important; }
  .bottom-forma div[class^=col-sm-6] {
    text-align: right; } }

@media only screen and (max-width: 986px) {
  .listener-item {
    margin: 25px 7px; } }

@media only screen and (max-width: 979px) {
  .full-banner {
    background-position: 400px 130px; } }

@media only screen and (max-width: 978px) {
  .listener-item {
    margin: 25px 6px; } }

@media only screen and (max-width: 974px) {
  .date-item {
    max-width: 379px;
    vertical-align: top;
    margin: 25px 20px; }
  .free-space {
    margin-right: 0;
    margin-left: 0; }
  .in-item {
    padding-left: 75px; }
    .in-item span {
      font-size: 2.6vw; }
  .right-space {
    margin-top: 49px; } }

@media only screen and (max-width: 970px) {
  .listener-item {
    max-width: 200px;
    margin: 25px 13px; } }

@media only screen and (max-width: 959px) {
  .webinar li {
    margin: 0 !important; } }

@media only screen and (max-width: 956px) {
  .specialists li {
    margin: 30px 25px; }
  .specialists li:first-child:after {
    right: -37px; }
  .specialists li:nth-child(3):after {
    right: -37px; } }

@media only screen and (max-width: 946px) {
  .listener-item {
    margin: 25px 10px; }
    .listener-item p {
      font-size: 1.9vw; } }

@media only screen and (max-width: 934px) {
  .experts-side {
    margin: 40px 17px; } }

@media only screen and (max-width: 922px) {
  .listener-item {
    margin: 25px 7px; }
    .listener-item p {
      font-size: 1.9vw; } }

@media only screen and (max-width: 905px) {
  .forms {
    background-size: cover; }
    .forms form input {
      width: 43.5%;
      margin: 10px 10px; }
    .forms form button {
      width: 43.5%;
      margin: 10px 10px; } }

@media only screen and (max-width: 902px) {
  .experts-side {
    margin: 40px 14px; } }

@media only screen and (max-width: 900px) {
  .number-course {
    margin-left: 0;
    max-width: 220px;
    width: 100%;
    padding-right: 0; }
    .number-course img {
      width: 100%; }
  .course-describe {
    padding-left: 25px; }
    .course-describe h2 {
      font-size: 3.5vw;
      line-height: 40px; }
  .item-course__indent3 .number-course {
    margin-left: 25px; }
  .item-course__indent3 .count {
    left: -18px; } }

@media only screen and (max-width: 898px) {
  .listener-item {
    margin: 25px 4px; }
    .listener-item p {
      font-size: 1.9vw; } }

@media only screen and (max-width: 896px) {
  .specialists li {
    margin: 30px 15px; }
  .specialists li:first-child:after {
    display: none; }
  .specialists li:nth-child(3):after {
    display: none; }
  .all-footer__menu span {
    font-size: 1.9vw; } }

@media only screen and (max-width: 890px) {
  .experts-side {
    margin: 40px 10px; } }

@media only screen and (max-width: 888px) {
  .practice_theory li:first-child {
    margin-right: 0; }
  .practice_theory li:nth-child(2) {
    margin: 0 150px; }
  .practice_theory li:after {
    right: -110px; } }

@media only screen and (max-width: 874px) {
  .listener-item {
    margin: 25px 2px; }
  .experts-side {
    margin: 40px 5px; } }

@media only screen and (max-width: 872px) {
  .date-item {
    margin: 25px 10px; } }

@media only screen and (max-width: 858px) {
  .listener-item {
    max-width: 180px;
    margin: 25px 10px; } }

@media only screen and (max-width: 856px) {
  .specialists li {
    margin: 40px 5px; }
  .info-block {
    padding-left: 45px; }
  .foto-trainer img {
    margin-left: -80px;
    margin-right: 0; } }

@media only screen and (max-width: 854px) {
  .experts-side {
    margin: 40px 0; } }

@media only screen and (max-width: 842px) {
  .listener-item {
    margin: 25px 0 0 15px; } }

@media only screen and (max-width: 834px) {
  .experts-side {
    max-width: 370px;
    float: left;
    display: block;
    margin-right: 30px; } }

@media only screen and (max-width: 832px) {
  .date-item {
    margin: 25px 5px; }
  .in-preview {
    margin: 0; } }

@media only screen and (max-width: 829px) {
  .experts-side {
    margin-right: 15px; }
    .experts-side p {
      font-size: 2vw; } }

@media only screen and (max-width: 822px) {
  .listener-item {
    margin: 25px 0 0 10px; } }

@media only screen and (max-width: 820px) {
  .practice_theory li:nth-child(2) {
    margin: 0 120px; }
  .practice_theory li:after {
    right: -100px; } }

@media only screen and (max-width: 816px) {
  .specialists li {
    margin: 40px 0px; } }

@media only screen and (max-width: 814px) {
  .info-block {
    padding-left: 25px; }
  .foto-trainer img {
    margin-left: -110px; } }

@media only screen and (max-width: 812px) {
  .date-item {
    margin: 25px 0px; } }

@media only screen and (max-width: 808px) {
  .in-preview {
    margin: 5px 0; }
  .in-preview:nth-child(2) {
    margin: 0 5px !important; } }

@media only screen and (max-width: 802px) {
  .listener-item {
    margin: 25px 0 0 5px; } }

@media only screen and (max-width: 800px) {
  .full-banner {
    background-position: 300px 130px; }
  .usefully .col-md-12 {
    padding: 0 10px; }
  .specialists li {
    margin: 40px 3px; }
  .forms {
    background-size: cover; }
    .forms form input {
      width: 46.5%;
      margin: 10px 5px; }
    .forms form button {
      width: 46.5%;
      margin: 10px 5px;
      padding: 16px; }
  .webinar li {
    margin-right: 4px !important; } }

@media only screen and (max-width: 799px) {
  .experts-side {
    float: none;
    display: inline-block;
    max-width: 450px;
    text-align: center; } }

@media only screen and (max-width: 798px) {
  .usefully .col-md-12 {
    padding: 0 15px; }
  .specialists li {
    max-width: 500px;
    text-align: center; }
    .specialists li p {
      font-size: 2.5vw;
      text-align: left; } }

@media only screen and (max-width: 792px) {
  .date-item {
    max-width: 700px;
    margin-bottom: 65px; }
    .date-item:last-child {
      margin-bottom: 0; }
  .in-item {
    padding-left: 0;
    text-align: center; }
    .in-item span {
      font-size: 3.6vw; }
  .calendar {
    display: inline-block; }
    .calendar p {
      font-size: 3.4vw; }
  .time {
    display: block; }
    .time p {
      display: inline-block;
      font-size: 3.4vw; } }

@media only screen and (max-width: 782px) {
  .listener__white {
    text-align: center; }
  .listener-item {
    max-width: 220px;
    margin: 25px 13px; }
    .listener-item p {
      font-size: 2.6vw; } }

@media only screen and (max-width: 779px) {
  .change-blocks {
    padding-left: 0px;
    margin-left: 10px; } }

@media only screen and (max-width: 767px) {
  .logo {
    margin: 25px auto; }
  .phones {
    display: inline-block; }
  .phones_buttons {
    float: none;
    display: inline-block; }
  .number-course {
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
    padding: 0; }
  .course-describe h2 {
    text-align: center; }
  .item-course__indent2 .number-course {
    padding: 0; }
  .item-course__indent3 .number-course {
    margin: 0 auto;
    padding: 0; }
  .item-course__indent4 .number-course {
    padding: 0; }
  .info-block {
    padding-left: 0; }
  .change-blocks ul {
    text-align: center;
    padding-bottom: 25px; }
  .change-blocks li {
    float: none;
    display: inline-block;
    vertical-align: top; }
  .inputs-change__mobile li {
    margin-bottom: 15px; }
  .left-info__text {
    margin: 20px auto;
    max-width: 700px; }
    .left-info__text h2 {
      font-size: 4.7vw; }
  .right__forma {
    margin: 0 auto;
    max-width: 700px; }
    .right__forma h2 {
      font-size: 4.7vw; }
  #comment {
    height: auto !important; }
  .left-section__comment {
    padding-left: 0;
    padding-bottom: 10px;
    text-align: center; }
  .right-section__comment {
    padding-top: 0;
    padding-left: 0;
    text-align: center;
    padding-bottom: 25px; }
  .right-section__comment .comment__line {
    margin: 5px auto; }
  .bottom-forma div[class^=col-xs-12] {
    text-align: center; }
  .left-section_webinar h2 {
    text-align: center; }
  .left-section_webinar p {
    text-align: center; }
  .left-section_webinar {
    padding-left: 0; }
  .right-section_webinar {
    padding-left: 0;
    text-align: center;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
    .right-section_webinar:after {
      display: none; }
  .bottom-data p:after {
    left: 50%;
    margin-left: -98px; }
  .webinar-slider ul {
    height: auto !important; }
  .webinar li {
    margin-right: 10px !important; }
  .bottom-data .buttons {
    position: relative;
    left: auto;
    top: auto;
    margin-right: 0;
    margin-bottom: 20px; }
  .right__forma form tt {
    display: block;
    float: none !important; }
  .all-footer__menu {
    text-align: center;
    padding-left: 0; }
    .all-footer__menu li {
      padding-left: 0; }
    .all-footer__menu tt {
      padding-left: 0; }
    .all-footer__menu p {
      padding-left: 0; }
  .foot-way {
    margin: 25px 0; }
  .foot-telephone {
    margin: 25px 0; }
  .all-footer__menu h3 {
    font-size: 5vw; }
  .all-footer__menu a {
    font-size: 2.6vw; }
  .all-footer__menu tt {
    font-size: 2.6vw; }
  .all-footer__menu span {
    font-size: 3vw; }
  .all-footer__menu p:after {
    left: 50%;
    margin-left: -8px;
    top: -19px; }
  body .foot-email {
    display: inline-block; }
  .footer-logo {
    float: none;
    margin: 15px auto; }
  .popup__img {
    display: none; }
  .popup input {
    max-width: inherit;
    width: 75%; } }

@media only screen and (max-width: 760px) {
  .practice_theory li:nth-child(2) {
    margin: 0 100px; }
  .practice_theory li:after {
    right: -90px; } }

@media only screen and (max-width: 720px) {
  .practice_theory li:nth-child(2) {
    margin: 0 90px; }
  .practice_theory li:after {
    right: -80px; }
  .practice {
    background-size: cover; } }

@media only screen and (max-width: 700px) {
  .practice_theory li:nth-child(2) {
    margin: 0 80px; }
  .practice_theory li:after {
    display: none; } }

@media only screen and (max-width: 680px) {
  .practice_theory li:nth-child(2) {
    margin: 0 70px; } }

@media only screen and (max-width: 660px) {
  .practice_theory li:nth-child(2) {
    margin: 0 60px; } }

@media only screen and (max-width: 650px) {
  .full-banner {
    background-position: 240px 130px; }
  .experts-side p {
    font-size: 2.5vw; } }

@media only screen and (max-width: 650px) {
  .full-banner h2 {
    line-height: 35px;
    font-size: 3.7vw; } }

@media only screen and (max-width: 640px) {
  .practice_theory li:nth-child(2) {
    margin: 0 45px; } }

@media only screen and (max-width: 610px) {
  .practice_theory ul {
    text-align: center; }
  .practice_theory li {
    float: none;
    display: block;
    margin: 25px auto !important; }
  .practice_theory p {
    margin-left: 0; }
  .circle-theory {
    margin-right: 0;
    margin-left: 15px; }
  .course-describe h2 {
    font-size: 4.8vw; } }

@media only screen and (max-width: 560px) {
  .full-banner {
    background-position: 150px 130px; }
  .safeguard {
    background-size: cover;
    padding-bottom: 25px; } }

@media only screen and (max-width: 526px) {
  .listener-item p {
    font-size: 4vw; } }

@media only screen and (max-width: 500px) {
  .full-banner {
    text-align: center; }
    .full-banner h2 {
      font-size: 4.8vw; }
  .banner_blue {
    display: inline-block;
    margin: 80px 0 0 0; }
    .banner_blue h1 {
      line-height: 30px;
      font-size: 6vw; }
  .calendar p:after {
    display: none; }
  body .time p:after {
    display: none; }
  .specialists li p {
    font-size: 4vw; }
  .left-info__text h2 {
    font-size: 7vw; }
  .right__forma h2 {
    font-size: 7vw; }
  .experts-side p {
    font-size: 4vw; }
  .all-footer__menu h3 {
    font-size: 6vw; }
  .all-footer__menu a {
    font-size: 4vw; }
  .all-footer__menu tt {
    font-size: 4vw; }
  .text-webinar h2 {
    font-size: 4vw; } }

@media only screen and (max-width: 490px) {
  .forms form input {
    width: 90%; }
  .forms form button {
    width: 90%; } }

@media only screen and (max-width: 482px) {
  .title-form h2 {
    font-size: 10.3vw; } }

@media only screen and (max-width: 445px) {
  .title-form h2 {
    font-size: 10vw;
    line-height: 45px; }
  .course-describe h2 {
    font-size: 5.8vw; } }

@media only screen and (max-width: 420px) {
  .full-banner {
    background-image: none; }
  .listener-item p {
    font-size: 5vw; } }

@media only screen and (max-width: 400px) {
  .upload {
    display: block; }
    .upload a {
      margin: 10px auto;
      padding: 5px 97px; }
  .all-title h2 {
    font-size: 10vw; }
  .left-info__text b {
    font-size: 9vw; }
  .right__forma form .buttons a {
    padding: 15px 103px; }
  .foto-trainer img {
    width: 100%; }
  .foot-nav {
    text-align: center; }
  .vox {
    display: block; }
  .scroll-up {
    float: none !important;
    display: inline-block; }
    .scroll-up a {
      margin-left: 0; }
  .text-webinar h2 {
    font-size: 4.5vw; } }

@media only screen and (max-width: 348px) {
  .phones-text {
    float: none;
    text-align: center; }
  .phones-number {
    padding-left: 0; }
  .course-describe h2 {
    font-size: 6.3vw; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
